.component-header {
	-webkit-box-align: center;
	align-items: center;
	display: -webkit-box;
	display: flex;
	padding: 30px;
	position: relative;
	z-index: 2;
}

.header-title {
	color: #ffffff;
	font-family: 'gilroyextrabold';
	font-size: 36px;
	margin-right: 80px;
}

.header-profile {
	flex-shrink: 0;
	margin-left: auto;
}

@media screen and (max-width: 1280px) {
	.header-title {
		margin-right: 40px;
	}

	.home-title {
		font-size: 30px;
		margin: 50px 0 50px;
	}
}

@media screen and (max-width: 480px) {
	.component-header {
		padding: 24px 20px;
	}

	.header-title {
		margin-right: 20px;
	}
}

@media screen and (max-width: 360px) {
	.header-profile {
		display: none;
	}
}