.component-form {
	overflow: hidden;
}

.form-fieldset {
	border-bottom: 1px solid #eaebeb;
	border: 0;
	margin: 0 0 30px 0;
	padding: 0 0 15px 0;
}

.form-fieldset:last-of-type {
	border: 0;
}

.form-legend {
	font-family: 'gilroysemibold';
	font-size: 22px;
	line-height: 28px;
	margin-bottom: 15px;
	text-transform: capitalize;
}

.form-field {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	margin-top: 25px;
	position: relative;
}

.form-legend + .form-field {
    margin: 0;
}

.form-field-extensions {
	display: -webkit-box;
	display: flex;
}

.form-label {
	color: #7c8384;
	display: block;
	font-family: 'gilroymedium';
	margin-bottom: 8px;
}

.form-select {
	-moz-appearance: none;
	-webkit-appearance: none;
	align-self: flex-start;
	background-color: #f4f4f4;
	background-image: url('/assets/icons/down-arrow.svg');
	background-position: calc(100% - 25px) center;
	background-repeat: no-repeat;
	background-size: 15px;
	border-radius: 4px;
	border: 1px solid #dedfdf;
	color: #272625;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	font-family: 'gilroymedium';
	font-size: 16px;
	line-height: 23px;
	padding: 10px 60px 10px 20px;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.form-grid {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-gap: 15px;
}

.form-grid--4 {
	grid-template-columns: repeat(3, minmax(150px,1fr));
}

.form-group {
	-webkit-box-align: center;
	align-items: center;
	display: -webkit-box;
	display: flex;
}

.form-group-inner {
    -webkit-box-align: stretch;
	align-items: stretch;
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
	flex: 1 1 auto;
    padding-right: 15px;
}

.form-add {
    margin-top: 20px;
}

.form-bottom {
	margin: 50px 0;
	text-align: center;
}

.form-error {
    color: rgb(255, 83, 9);
    font-family: 'gilroysemibold';
    font-size: 14px;
    margin-top: 10px;
}

.form-divider {
    border-bottom: 1px solid #dedfdf;
    border-top: 0;
    margin: 30px auto;
    overflow: visible;
    position: relative;
    text-align: center;
}

.form-divider:after {
    content: "or";
    background-color: #ffffff;
    bottom: -9px;
    color: #7c8384;
    display: block;
    font-family: 'gilroymedium';
    font-size: 18px;
    left: 0;
    line-height: 20px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 50px;
    z-index: 200;
}

.submit-error {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.form-group {
		-webkit-box-align: stretch;
		align-items: stretch;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}

	.form-group-inner {
		margin-bottom: 15px;
		padding-right: 0;
	}

	.icon.form-delete {
		background: #f24536;
		border-radius: 4px;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
		color: #ffffff;
		font-family: 'gilroybold';
		font-size: 16px;
		height: auto;
		line-height: 20px;
		margin: 10px 0 15px;
		padding: 11px 20px;
		text-transform: capitalize;
		width: auto;
	}
}

@media screen and (max-width: 480px) {
	.form-fieldset {
		margin: 0 0 20px 0;
	}

	.form-legend {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.form-field {
		margin-top: 15px;
	}

	.form-field-extensions {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}

	.form-select {
		margin: 0;
		width: 100%;
	}
}

@media screen and (min-width: 769px) {
	.form-delete {
		background-image: url(/assets/icons/delete.svg);
		background-size: contain;
		margin-left: 15px;
		text-indent: -9999px;
	}
}