/***** FONTS *****/
@font-face {
	font-family: 'gilroylight';
	src: url('/fonts/gilroy-light-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'gilroyregular';
	src: url('/fonts/gilroy-regular-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'gilroymedium';
	src: url('/fonts/gilroy-medium-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'gilroysemibold';
	src: url('/fonts/gilroy-semibold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'gilroybold';
	src: url('/fonts/gilroy-bold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'gilroyextrabold';
	src: url('/fonts/gilroy-extrabold-webfont.woff2') format('woff2');
}

/***** ELEMENTS *****/
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-image: url('/assets/background.svg');
	background-position: top 0px center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #272625;
	font-family: 'gilroyregular', sans-serif;
	line-height: 1;
	min-height: 100vh;
}

input:not([type='checkbox']) {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: linear-gradient(transparent, transparent);
}

[type='checkbox'] {
	display: none;
}

[type='checkbox']:checked + label,
[type='checkbox']:not(:checked) + label {
	display: inline-block;
	font-size: 16px;
	line-height: 30px;
	padding-left: 40px;
	position: relative;
}

[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:before {
	content: '';
	background-color: #ffffff;
	border-radius: 9px;
	border: 2px solid #c7c7c7;
	display: inline-block;
	height: 26px;
	left: 0;
	line-height: 26px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 26px;
}

[type='checkbox']:checked + label:after,
[type='checkbox']:not(:checked) + label:after {
	content: '\2714';
	color: #2da2d8;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	height: 30px;
	left: 0;
	line-height: 30px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 30px;
}

[type='checkbox']:not(:checked) + label:after {
	opacity: 0;
}

[type='checkbox']:checked + label:after {
	opacity: 1;
}

*::placeholder {
	opacity: 0.5;
}

/***** CUSTOM *****/
.input--default {
	background-color: #f4f4f4;
	border-radius: 9px;
	border: 1px solid #f4f4f4;
	color: #212529;
	flex: 1 1 auto;
	font-family: 'gilroymedium';
	font-size: 18px;
	line-height: 23px;
	padding: 10px 20px;
	transition: 0.1s;
}

.input--default:focus {
	background-color: #ffffff;
	border-color: #dedfdf;
}

.link--default {
	text-decoration: none;
}

/***** CONTAINERS *****/
.App {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page {
	flex: 1 1 auto;
	margin: auto;
	max-width: 1315px;
	width: 100%;
}

.page-content {
	margin-bottom: 30px;
	padding: 30px;
}

.content-container {
	background-color: #ffffff;
	border-radius: 9px;
	box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
	padding: 30px;
}

@media screen and (max-width: 480px) {
	.page-content {
		margin: 0;
		padding: 10px 20px 20px;
	}

	.content-container {
		padding: 20px;
	}

	.input--default {
		font-size: 16px;
		line-height: 20px;
		padding: 10px 15px;
	}
}
