/***** FONTS *****/
@font-face {
	font-family: 'gilroylight';
	src: url('/fonts/gilroy-light-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'gilroyregular';
	src: url('/fonts/gilroy-regular-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'gilroymedium';
	src: url('/fonts/gilroy-medium-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'gilroysemibold';
	src: url('/fonts/gilroy-semibold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'gilroybold';
	src: url('/fonts/gilroy-bold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'gilroyextrabold';
	src: url('/fonts/gilroy-extrabold-webfont.woff2') format('woff2');
}

/***** ELEMENTS *****/
html {
  	height: 100%;
}

body, #root {
  	min-height: 100%;
}

html * {
	box-sizing: border-box !important;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-image: url('/assets/background.svg');
	background-position: top 0px center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #272625;
	font-family: 'gilroyregular', sans-serif;
	line-height: 1;
	position: relative;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

/***** CUSTOM *****/
.flex {
	display: -webkit-box;
	display: flex;
}

.flex-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

.flex-start {
	-webkit-box-align: start;
	align-items: flex-start;
}

/* Buttons */
.btn {
	-webkit-box-align: center;
	align-items: center;
	background-color: transparent;
	cursor: pointer;
	-webkit-box-pack: center;
	justify-content: center;
	line-height: 30px;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    display: -webkit-inline-box;
    display: inline-flex;
    font-family: 'gilroybold';
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.btn--large {
    font-size: 20px;
    padding: 15px 35px;
    font-family: 'gilroyextrabold';
}

.btn--icon {
	position: relative;
}

.btn--icon--left {
	padding-left: 64px;
}

.btn--icon--right {
	padding-right: 64px;
}

.btn--icon:after {
	content: '';
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	display: block;
	height: 30px;
	position: absolute;
	top: 8px;
	width: 30px;
}

.btn--icon--left:after {
	left: 20px;
}

.btn--icon--right:after {
	right: 20px;
}

.btn--green {
    background-color: #5ddbb4;
    border-color: #53d6bf;
    color: #ffffff;
}

.btn--green:hover {
	background-color: #53d6bf;
}

.btn--github {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: transparent !important;
    color: rgba(255, 255, 255, 0.7);
}

.btn--github:after {
	opacity: 0.6;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.btn--github:hover {
	background-color: #53d6bf;
	color: #ffffff;
}

.btn--github:hover:after {
	opacity: 1;
}

.btn--disabled {
	background-color: #f4f4f4;
    border-color: #dedfdf;
    color: #ccc;
}

/* Icons */
.icon {
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.icon--left {
	margin-right: 15px;
}

.icon--right {
	margin-left: 15px;
}

.icon--github {
	background-image: url(/assets/icons/github.svg);
	background-size: 30px;
}

.icon--previous {
	background-image: url(/assets/icons/arrow-previous.svg);
	background-size: 20px;
}

.icon--next {
	background-image: url(/assets/icons/arrow-next.svg);
	background-size: 20px;
}

.icon--disabled {
	cursor: default;
	pointer-events: none;
    opacity: .2;
}

/* Inputs */
.input--default {
	background-color: #f4f4f4;
	border-radius: 4px;
	border: 1px solid #dedfdf;
	color: #272625;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	font-family: 'gilroymedium';
	font-size: 16px;
	line-height: 23px;
	padding: 10px 20px;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.input--default:focus {
	background-color: #ffffff;
}

.input--default--extension {
	margin-right: 10px;
	max-width: 100px;
}

.input--default--date {
	align-self: flex-start;
}

.input--small {
	-webkit-box-flex: inherit;
	        flex: inherit;
}

.input--error {
	background-color: #f7e9e9 !important;
    border-color: #d8b4b4;
}

input:not([type='checkbox']) {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
	background-image: linear-gradient(transparent, transparent);
}

[type='checkbox'] {
	display: none;
}

[type='checkbox']:checked + label,
[type='checkbox']:not(:checked) + label {
	display: inline-block;
	font-size: 16px;
	line-height: 30px;
	padding-left: 40px;
	position: relative;
}

[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:before {
	content: '';
	background-color: #ffffff;
	border-radius: 9px;
	border: 2px solid #c7c7c7;
	display: inline-block;
	height: 26px;
	left: 0;
	line-height: 26px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 26px;
}

[type='checkbox']:checked + label:after,
[type='checkbox']:not(:checked) + label:after {
	content: '\2714';
	color: #2296d1;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	height: 30px;
	left: 0;
	line-height: 30px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 30px;
}

[type='checkbox']:not(:checked) + label:after {
	opacity: 0;
}

[type='checkbox']:checked + label:after {
	opacity: 1;
}

*::-webkit-input-placeholder {
	opacity: 0.5;
}

*::-moz-placeholder {
	opacity: 0.5;
}

*:-ms-input-placeholder {
	opacity: 0.5;
}

*::-ms-input-placeholder {
	opacity: 0.5;
}

*::placeholder {
	opacity: 0.5;
}

/* Links */
.link--default {
	text-decoration: none;
}

/***** CONTAINERS *****/
.App {
	-webkit-box-align: stretch;
	align-items: stretch;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	height: 100%;
}

.page {
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	margin: auto;
	max-width: 1315px;
	width: 100%;
}

.page-content {
	margin-bottom: 30px;
	padding: 30px;
}

.content-container {
	background-color: #ffffff;
	border-radius: 9px;
	box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
	padding: 30px;
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {
	.btn--github {
		background: none;
		border-radius: 50% !important;
		border: 0 !important;
		display: inline-block;
		font-size: 0;
		height: 30px;
		margin: 0;
		opacity: .7;
		padding: 0 !important;
		width: 30px;
	}

	.icon--github {
		margin: 0 !important;
	}
}

@media screen and (max-width: 480px) {
	.page-content {
		margin: 0;
		padding: 10px 20px 20px;
	}

	.content-container {
		padding: 20px;
	}

	.btn:not(.btn--large) {
		padding: 5px 16px;
	}

	.btn--large {
		font-size: 18px;
		padding: 10px 30px;
	}

	.icon--left {
		margin-right: 10px;
	}

	.icon--right {
		margin-left: 10px;
	}

	.icon--previous,
	.icon--next {
		background-size: 18px;
	}

	.input--default {
		font-size: 16px;
		line-height: 20px;
		padding: 10px 15px;
	}

	.input--default--extension {
		margin-bottom: 10px;
	}

	.input--default.search-input {
		padding: 10px 45px 10px 15px;
	}
}
