.content-totalResults {
	color: #7c8384;
	display: block;
	font-family: 'gilroymedium';
	font-size: 16px;
	margin-bottom: 20px;
}

.content-noResults {
    text-align: center;
}

.noResults-notification {
	background-color: #ddedf7;
	border-radius: 4px;
	border: 1px solid #d2dee4;
	color: #7c8384;
	font-family: 'gilroymedium';
	font-size: 16px;
	margin-bottom: 10px;
	padding: 25px 25px;
	text-align: center;
}

.noResults-smiley {
	margin-left: 5px;
}

.content-back {
    border-bottom: 1px solid;
    color: #2296d1;
    display: inline-block;
    font-family: 'gilroymedium';
    margin: 15px auto;
}

.content-title {
	color: #ffffff;
	font-family: 'gilroylight';
	font-size: 36px;
	line-height: 54px;
	margin-bottom: 20px;
	text-align: center;
}

/* Pagination */
.content-pagination {
	-webkit-box-align: center;
	align-items: center;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 30px;
}

.pagination-button {
	cursor: pointer;
    -webkit-box-align: center;
	align-items: center;
    color: #7c8384;
    display: -webkit-box;
    display: flex;
    font-family: 'gilroysemibold';
    font-size: 20px;
    margin: 0 15px;
}

.pagination-divider {
    color: #eaebeb;
    font-family: 'gilroymedium';
    font-size: 20px;
    margin: 0 15px;
}

/* Responsive */
@media screen and (max-width: 480px) {
	.content-title {
		font-size: 22px;
		margin-bottom: 0px;
	}

	.content-pagination {
		padding: 20px;
	}

	.pagination-button {
		margin: 0 10px;
		font-size: 16px;
	}
}
